@import '../../styles/colors';
@import '../../styles/mixin';


.searchContainer {
    margin: 2.5rem 0;
    .input{ 
        position: relative;
        font-size: 1.6rem;
        color: $dark-gray-input;
        label {
            position: absolute;
            top: 60%;
            left: 1rem;
            transform: translateY(-50%);
            margin: 0 .5rem;
        }
        input[type=text] {
            background-color: transparent;
            padding: 1.5rem 2rem 1.5rem 5rem;
            box-shadow: $box-shadow;
           
            border: none;
            width: 40rem;
            height: 5rem;
            outline: none;
            border-radius: $border-raduis;
            &::placeholder {
                color: $dark-gray-input;
                font-family: inherit;
            }
        }

    }
    
     select {
        padding: 1.5rem 1rem;
        background-color: transparent;
        border: none;
        box-shadow: $box-shadow;
        height: 5rem;
        outline: none;
        width: 15rem;
        color: $dark-blue-elements-dark;
        border-radius: $border-raduis;
        option {
            padding: 1rem 1.5rem;
        }
    }
}

.dark .searchContainer {
   
    input[type=text]::placeholder , select, .input {
        color: $white;
    }

    select {
        option {
            background-color: $dark-blue-elements-dark;
        }
    }

}

@include breakPoint(mobile) {
    .searchContainer {
        flex-direction: column;
        .input input[type=text] {
            width: 100%;
            // margin: 0 auto 3rem;
            margin: 0 auto;
        }
        select {
            margin-top: 3rem;
            width: 65%;
        }
    }
}