@import '../../styles/mixin';

.error {
    .container {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
       gap: 3rem;
       align-items: center;
    }
    .svgContainer {
        min-width: 25rem;
        height: auto;
        img {
            width: 100%;
        }
    }
   .textContainer {
    text-align: center;
    margin-bottom: 3rem;
       @include desc;
       p {
           font-weight: 600;
           margin: 2rem 0;
       }
   }
   button {
    display: block;
    margin: 0 auto;
   }
}

.dark .error {
    .textContainer h3, p {
        color: $white;
    }
}