@import '../../styles/mixin';
@import '../../styles/colors';

.full {

    .img-container {
        width: 40%;
        img {
            width: 100%;
        }
    }

    .desc {
       margin: 2rem ;
        .partOne {
           @include desc;

        }
        .partTwo {
            @include desc;
            margin: 7rem 4rem 0;
        }
        .border-contries {
            margin: 2rem 0;
              display: flex;
              align-items: center;
              @include desc;
              span {
                  margin: 0 1rem;
              }
        }
    }
}

