@import '../../styles/colors';

.home {
    width: 100%;
    button {
        position: fixed;
    right: 8%;
    z-index: 1111;
    bottom: 2rem;
    background-color: $very-light-gray-bg;
    border-radius: 2.5rem;
    padding: 1.2rem .8rem;
    width: fit-content;
   
    
    svg {
        font-size: 3rem;
        color: $very-dark-blue-bg-dark;
    }
    }
}

.dark .home button{
    background-color: $very-dark-blue-bg-dark;
    svg {
        color: $very-light-gray-bg;
    }
}

