@import '../../styles/colors';
// @use 'sass:math';
$countries: 250;

@for $i from 1 through $countries {
    .country.delay#{$i} {
      animation-delay:  #{$i / 10}s;
    }
}

.country {
    box-shadow: $box-shadow;
    min-height: 25rem;
    border-radius: $border-raduis;
    transition: transform .3s ease-out;
    opacity: 0 ;
    animation: fadeIn 1s forwards;
    &:hover {
        transform: perspective(50rem) translateZ(3rem);
    }
    img {
        aspect-ratio: 3.3 / 2;
        object-fit: cover;
        border-top-right-radius: $border-raduis;
        border-top-left-radius: $border-raduis;
        
    }

    .desc {
        padding: 0rem 3rem 4rem;
        flex: 1 1 60%;

        h3 {
            font-family: 'Nunito sans',sans-serif;
            font-size: 2.5rem;
            margin-top: 2rem;
            color: $very-dark-blue-text;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            
        }

        p {
            font-size: 1.4rem;
            color: $very-dark-blue-bg-dark;
            font-weight: 600;
            margin: .5rem 0;
            text-transform: capitalize;
            span {
                text-transform: capitalize;
                opacity: .7;
            }
        }
    }
}

.dark .country {
    background-color: $dark-blue-elements-dark;
    color: $white;

   .desc h3,p {
        color: $white;
    }
}